<section
  class="vf-sticky ws10-c-card-rate-sticky ws10-u--hidden"
  data-js-vf="_stickyRate"
>
  <div>
    <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">
      <div class="ws10-c-card-rate-sticky__w-cta" data-js-vf="_portability">
        <div class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column">
          <del class="ws10-c-card-rate-sticky__dto-price">{{ sinSorpresas.bar.0.price2 }}€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span class="ws10-c-card-rate-sticky__final-price-value">{{ sinSorpresas.bar.1.price1 }}€</span>
            <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
          </span>
        </div>
        <a
          data-cta="{{ cardRates.rates.0.cta.dataCTA }}"
          type="submit"
          class="ws10-c-button ws10-c-button--auto"
          href="{{ cardRates.rates.0.cta.url }}"
          onmousedown="{{ cardRates.rates.0.cta.onmousedown }}"
          data-analytics-element="stiky inferior"
          data-analytics-context="{{ cardRates.rates.0.cta.context }}"
          data-analytics-category="{{ cardRates.rates.0.cta.category }}"
          data-analytics-id="{{ cardRates.rates.0.cta.id }}"
        >
          {{ cardRates.rates.0.cta.label }}
          <span class="ws10-u--hidden-visually" data-cta-a11y></span>
        </a>
      </div>
      <div
        class="ws10-c-card-rate-sticky__w-cta ws10-u--hidden"
        data-js-vf="_newNumber"
      >
        <div class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column">
          <del class="ws10-c-card-rate-sticky__dto-price">{{ sinSorpresas.bar.1.price2 }}€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span class="ws10-c-card-rate-sticky__final-price-value">{{ sinSorpresas.bar.1.price1 }}€</span>
            <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
          </span>
        </div>
        <a
        data-cta="{{ cardRates.rates.1.cta.dataCTA }}"
        type="submit"
        class="ws10-c-button ws10-c-button--auto"
        href="{{ cardRates.rates.1.cta.url }}"
        onmousedown="{{ cardRates.rates.1.cta.onmousedown }}"
        data-analytics-element="stiky inferior"
        data-analytics-context="{{ cardRates.rates.1.cta.context }}"
        data-analytics-category="{{ cardRates.rates.1.cta.category }}"
        data-analytics-id="{{ cardRates.rates.1.cta.id }}"
        >
          {{ cardRates.rates.1.cta.label }}
          <span class="ws10-u--hidden-visually" data-cta-a11y></span>
        </a>
      </div>
    </div>
  </div>
</section>
