<div class="vf-ticket ws10-o-layout__item ws10-u--1/3@desktop ws10-u--2/5@tablet ws10-u--mt8x@desktop" data-js-vf="_ticket">
    <div class="vf-ticket__floating">
        <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
            <div class="ws10-c-card-rate__w-rates">
                <div class="ws10-c-card-rate__a-rate">
                    <ul class="ws10-c-card-rate__product-info"
                        data-vfes-seo-empathy-promoperiod="{{ offers.promoPeriod }}"
                        data-vfes-seo-empathy-promoprice="{{ offers.dtoPrice }}"
                        data-vfes-seo-empathy-price="{{ offers.dtoFinalPrice }}">
                        {{#each description }}
                        <li class="ws10-c-card-rate__product-info-item" {{#if js-vf }} data-js-vf="{{ js-vf }}" {{/if }}>
                            <svg class="ws10-c-card-rate__product-icon ws10-u-color--black"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use xlink:href="#{{ icon }}"></use>
                            </svg>
                            <div class="ws10-c-card-rate__product">
                                <p class="ws10-c-card-rate__product-title">
                                    {{ title }}
                                </p>
                                <p class="ws10-c-card-rate__product-txt {{#if color }} {{ color }} {{/if }}">
                                    {{ subtitle }}
                                    {{#if secondIcon }}
                                    <svg class="ws10-c-card-rate__product-txt-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#{{ secondIcon }}"></use>
                                    </svg>
                                    {{/if }}
                                </p>
                            </div>
                        </li>
                        {{/each }}
                    </ul>

                    <form action="" method="get" class="vf-form ws10-c-card-rate__form ws10-c-form" data-js-vf="_showOrHideSticky">
                        <fieldset>
                            <legend class="ws10-c-card-rate__form-title">
                                {{ form.title }}
                            </legend>
                            <div class="ws10-c-card-rate__w-form-select">
                                <div class="vf-form__box ws10-c-form__box">
                                    <input type="radio" name="rate-1-card-rate" id="rate-1-card-rate-option-1" class="ws10-c-form__radio"
                                        data-analytics-element="{{ form.inputs.0.element }}"
                                        data-analytics-context="{{ form.inputs.0.context }}"
                                        data-analytics-category="{{ form.inputs.0.category }}"
                                        checked/>
                                    <label for="rate-1-card-rate-option-1" class="ws10-c-card-rate__form-label ws10-c-form__label" data-js-vf="_buttonTypeLine"
                                        data-js-vf-value="portability"
                                        data-analytics-element="{{ form.inputs.0.element }}"
                                        data-analytics-context="{{ form.inputs.0.context }}"
                                        data-analytics-category="{{ form.inputs.0.category }}">
                                        {{ form.inputs.0.label }}
                                    </label>
                                </div>
                                <div class="vf-form__box ws10-c-form__box">
                                    <input type="radio" name="rate-1-card-rate" id="rate-1-card-rate-option-2" class="ws10-c-form__radio"
                                        data-analytics-element="{{ form.inputs.1.element }}"
                                        data-analytics-context="{{ form.inputs.1.context }}"
                                        data-analytics-category="{{ form.inputs.1.category }}" />
                                    <label for="rate-1-card-rate-option-2" class="ws10-c-card-rate__form-label ws10-c-form__label" data-js-vf="_buttonTypeLine"
                                        data-js-vf-value="newNumber"
                                        data-analytics-element="{{ form.inputs.1.element }}"
                                        data-analytics-context="{{ form.inputs.1.context }}"
                                        data-analytics-category="{{ form.inputs.1.category }}">
                                        {{ form.inputs.1.label }}
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        {{#each rates }}
                            <div class="{{ hidden }}"data-js-vf="{{ js-vf }}">
                                <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                    {{ offers.discount }}
                                </p>
                                <div class="ws10-c-card-rate__w-cta ws10-u--mt2x">
                                    <div class="ws10-c-card-rate__w-offers">
                                        <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                                {{ offers.label }}
                                            </p>
                                            {{#if offers.finalPrice }}
                                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                                {{{ offers.finalPrice }}}
                                            </p>
                                            {{/if }}
                                            <p class="ws10-c-card-rate__price ws10-u-color--black">
                                                {{{ offers.discountPrice }}}
                                            </p>
                                        </div>
                                    </div>
                                    {{> cta cta }}
                                </div>
                            </div>
                        {{/each }}
                    </form>

                </div>
            </div>
        </section>
    </div>
</div>
