<section class="vf-banner ws10-u--1/1" data-js="_banner">
  <div class="ws10-o-wrapper">
    <div class="ws10-o-layout">
      <div class="vf-banner__textcontainer ws10-o-layout__item ws10-u--2/3@desktop ws10-u--3/5@tablet">
        <span class="ws10-u-heading--4">{{{ header.title }}}</span>
        <h2 class="ws10-u--pt5x ws10-u--3/4@desktop">{{{ header.title2 }}}</h2>
        <a
          class="ws10-c-link-chevron ws10-c-link-chevron--primary"
          target="_blank"
          href="{{header.cta.url}}"
          data-analytics-element="{{header.cta.element}}"
          data-analytics-context="{{header.cta.context}}"
          data-analytics-category="{{header.cta.category}}"
          data-analytics-id="{{header.cta.id}}"
        >
          {{ header.cta.label }}
          <span class="ws10-u--hidden-visually"> color #E60000</span>
          <svg
            class="ws10-c-link-chevron__icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="24px"
            height="24px"
          >
            <title>Flecha derecha</title>
            <use class="icon-v3" xlink:href="#icon-chevron-right"></use>
          </svg>
        </a>
      </div>
      <!-- Ticket -->
      <h2 class="ws10-u-heading--5 ws10-u-heading--5-lt ws10-u--mb0 vf-ticket ws10-o-layout__item ws10-u--1/3@desktop ws10-u--2/5@tablet">
          {{ cardRates.title }}
      </h2>
      {{> cardRate cardRates }}
    </div>
  </div>
</section>
