<!-- Sección Tabla -->
<section class="vf-table" >
    <h4>
        <span>¿Aún tienes dudas? Compara entre tarifas</span>
    </h4>
    <div class="vf-table__container ws10-u--mb8x" data-vf-js="600mbps">
        <table class="vf-table__datalist ws10-u--m0"
                summary="Tabla comparativa de la tarifa ilimitada Total en función del número de líneas escogidas (entre 1 y 4)">
            <caption class="ws10-u--hidden-visually">Comparativa de tarifas Family Bundles</caption>
            <thead>
            <tr>
                <th id="total" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">1 línea móvil</span><br>
                    <span class="vf-table__title--big"><strong>
                        41,99€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
                <th id="moviles2" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">2 líneas móviles</span><br>
                    <span class="vf-table__title--big"><strong>
                        {{tarifasFamiliares600mbps.[0].precio}}€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
                <th id="moviles3" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">3 líneas móviles</span><br>
                    <span class="vf-table__title--big"><strong>
                        {{tarifasFamiliares600mbps.[1].precio}}€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
                <th id="moviles4" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">4 líneas móviles</span><br>
                    <span class="vf-table__title--big"><strong>
                        {{tarifasFamiliares600mbps.[2].precio}}€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th id="ilimitados" headers="blank" scope="rowgroup" class="vf-table__td--subheader"
                        colspan="4"><strong>Datos y llamadas</strong> ilimitados
                </th>
            </tr>
            <tr>
                <td headers="total ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles2 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="fibra" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>600Mbps</strong> de fibra
                </th>
            </tr>
            <tr>
                <td headers="total fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles2 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="wifi" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>Super WiFi</strong>
                </th>
            </tr>
            <tr>
                <td headers="total wifi" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 wifi" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 wifi" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 wifi" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="onenumber" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>OneNumber</strong>
                </th>
            </tr>
            <tr>
                <td headers="total onenumber" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 onenumber" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles3 onenumber" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 onenumber" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="tv" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>TV con +100 canales + HBO España + Amazon Prime</strong>
                </th>
            </tr>
            <tr>
                <td headers="total tv" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 tv" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 tv" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 tv" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="securenet" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>Secure Net</strong> Family
                </th>
            </tr>
            <tr>
                <td headers="total securenet" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 securenet" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 securenet" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 securenet" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="carconnect" headers="blank" scope="rowgroup" class="vf-table__td--subheader"
                        colspan="4"><strong>CarConnect</strong></th>
            </tr>
            <tr>
                <td headers="total carconnect" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 carconnect" class="vf-table__td vf-table__icon vf-table__icon--fault">
                    <span class="ws10-u--hidden-visually">No</span>
                </td>
                <td headers="moviles3 carconnect" class="vf-table__td vf-table__icon vf-table__icon--fault">
                    <span class="ws10-u--hidden-visually">No</span>
                </td>
                <td headers="moviles4 carconnect" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="vhome" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>V-Home</strong> Mini
                </th>
            </tr>
            <tr>
                <td headers="total vhome" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 vhome" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles3 vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="vf-table__container ws10-u--mb8x" data-vf-js="1gbps" hidden>
        <table class="vf-table__datalist ws10-u--m0"
                summary="Tabla comparativa de la tarifa ilimitada Total en función del número de líneas escogidas (entre 1 y 4)">
            <caption class="ws10-u--hidden-visually">Comparativa de tarifas Family Bundles</caption>
            <thead>
            <tr>
                <th id="total" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">1 línea móvil</span><br>
                    <span class="vf-table__title--big"><strong>
                        41,99€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
                <th id="moviles2" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">2 líneas móviles</span><br>
                    <span class="vf-table__title--big"><strong>
                        {{tarifasFamiliares1gbps.[0].precio}}€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
                <th id="moviles3" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">3 líneas móviles</span><br>
                    <span class="vf-table__title--big"><strong>
                        {{tarifasFamiliares1gbps.[1].precio}}€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
                <th id="moviles4" headers="blank" scope="col" class="vf-table__th">
                    <span class="vf-table__title ws10-u-heading--4-lt">4 líneas móviles</span><br>
                    <span class="vf-table__title--big"><strong>
                        {{tarifasFamiliares1gbps.[2].precio}}€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th id="ilimitados" headers="blank" scope="rowgroup" class="vf-table__td--subheader"
                        colspan="4"><strong>Datos y llamadas</strong> ilimitados
                </th>
            </tr>
            <tr>
                <td headers="total ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles2 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="fibra" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>1Gbps</strong> de fibra
                </th>
            </tr>
            <tr>
                <td headers="total fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles2 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="wifi" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>Super WiFi</strong>
                </th>
            </tr>
            <tr>
                <td headers="total wifi" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 wifi" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 wifi" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 wifi" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="onenumber" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>OneNumber</strong>
                </th>
            </tr>
            <tr>
                <td headers="total onenumber" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 onenumber" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles3 onenumber" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 onenumber" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="tv" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>TV con +100 canales + HBO España + Amazon Prime</strong>
                </th>
            </tr>
            <tr>
                <td headers="total tv" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 tv" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 tv" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 tv" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="securenet" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>Secure Net</strong> Family
                </th>
            </tr>
            <tr>
                <td headers="total securenet" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 securenet" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles3 securenet" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 securenet" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="carconnect" headers="blank" scope="rowgroup" class="vf-table__td--subheader"
                        colspan="4"><strong>CarConnect</strong></th>
            </tr>
            <tr>
                <td headers="total carconnect" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 carconnect" class="vf-table__td vf-table__icon vf-table__icon--fault">
                    <span class="ws10-u--hidden-visually">No</span>
                </td>
                <td headers="moviles3 carconnect" class="vf-table__td vf-table__icon vf-table__icon--fault">
                    <span class="ws10-u--hidden-visually">No</span>
                </td>
                <td headers="moviles4 carconnect" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            <tr>
                <th id="vhome" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                    <strong>V-Home</strong> Mini
                </th>
            </tr>
            <tr>
                <td headers="total vhome" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles2 vhome" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                        class="ws10-u--hidden-visually">No</span></td>
                <td headers="moviles3 vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
                <td headers="moviles4 vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                        class="ws10-u--hidden-visually">Sí</span></td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

