 <li class="ws10-c-carousel__list-element js-carousel-list-element">
    <div class="ws10-c-card ws10-c-card--no-shadow">
        <div class="ws10-c-card-addons">
        <div class="ws10-c-card-addons__box">
            {{#if src }}
            <img class="ws10-u--pr1x" src="{{src}}" alt="{{alt}}"/>
            {{else }}
            <svg class="ws10-u--pr1x" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
                <title>{{alt}}</title>
                <use xlink:href="{{svg}}"></use>
            </svg>
            {{/if }}
            <h3 class="ws10-c-card-addons__title">{{{title}}}</h3>
        </div>
        <p class="ws10-c-card-addons__paragraph ws10-u--pb6x">{{{description}}}</p>
        <p class="ws10-c-card-addons__paragraph">{{{conditions}}}</p>
        </div>
    </div>
</li>
