<section class="vf-mobile ws10-u--pt12x">
  <p
    class="ws10-u-heading--4 ws10-u--mb2x ws10-flex ws10-flex__direction--column"
  >
      <span>{{{sinSorpresas.section}}}</span>
      <span>{{{sinSorpresas.title}}}</span>
    </p>
    <p>{{{sinSorpresas.conditions}}}</p>
    <p><strong>{{{ permanencia }}}</strong></p>
    <p class="ws10-u--mb0">{{{sinSorpresas.question}}}</p>
    <p>{{{sinSorpresas.paquete}}}</p>
    <p class="ws10-flex ws10-flex__direction--column">
     {{{sinSorpresas.promociones}}}
    </p>

  <!----PRICE-TAB-->


  <!------------->
  <p class="ws10-u--mb1x">La instalación del servicio de fibra, salvo que sea
    autoinstalable, tiene un coste para el cliente de 150€.
    Vodafone renuncia al cobro de este coste si el cliente se mantiene activo
    en el servicio durante, al menos, 1 año desde la fecha de instalación.</p>

  {{>cta sinSorpresas.cta}}
</section>
