<section class="vf-fiber ws10-u--pt12x">
    <h3 class="ws10-u-heading--4 ws10-u--mb2x ws10-u-heading--4-lt">
        {{ fibra.title.[0] }}
    </h3>
    <h3 class="ws10-u-heading--3">
        <strong>{{ fibra.title.[1] }}</strong>
    </h3>

  <div
    class="ws10-flex ws10-flex__justify--between vf-fiber__flexdirection ws10-flex__align-items--center"
  >
    <picture>
      <source
        class="ws10-u--pr1x"
        srcset="img/section-fiber/fiber-vf.webp"
        type="image/webp"
      />
      <source
        class="ws10-u--pr1x"
        srcset="img/section-fiber/fiber-vf.png"
        type="image/png"
      />
      <img src="img/section-fiber/fiber-vf.png" alt="Router Vodafone" />
    </picture>
    <div
      class="vf-mobile__details ws10-flex ws10-flex__direction--column ws10-flex__justify--center ws10-flex__align-items--center"
    >
      <div
        class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x ws10-u--2/3@desktop"
      >
        <div class="ws10-c-product-detail__icon">
          <img
            alt="icono multidispositivo"
            src="img/section-fiber/icono-dispositivos.svg"
          />
        </div>
        <p class="ws10-c-product-detail__text">
            <strong>{{ fibra.details.0.[0] }}</strong>
            {{ fibra.details.0.[1] }}
        </p>
      </div>
      <div
        class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x ws10-u--2/3@desktop"
      >
        <svg
          class="ws10-c-product-detail__icon"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
        >
          <title>Icono Teléfomo fijo</title>
          <use class="icon-v3" xlink:href="#icon-minutes-sms-mid"></use>
        </svg>
        <p class="ws10-c-product-detail__text">
            <strong>{{ fibra.details.1.[0] }}</strong>
        </p>
      </div>
    </div>
  </div>
</section>
