<a href="{{ url }}"
    data-cta="{{ dataCTA }}"
    target="_self" name="{{ label }}" title="{{ label }}"
    class="ws10-c-button ws10-c-button--auto vf-button--mobile"
    onmousedown="{{ onmousedown }}"
    data-analytics-context="{{ context }}"
    data-analytics-element="{{ element }}"
    data-analytics-category="{{ category }}"
    data-analytics-id="{{ id }}"
    {{#if backdrop}}
        aria-haspopup="dialog"
       data-backdrop="seriefans"
    {{/if}}
    
    >
    {{ label }}
    <span class="ws10-u--hidden-visually"></span>
</a>
