<section class="vf-mobile ws10-u--pt12x">
  <p class="ws10-u-heading--4 ws10-u--mb2x ws10-u-heading--4-lt">
    {{mobile.section}}
  </p>
  <h3>
    {{mobile.title}}
  </h3>
  <div class="vf-mobile__animation">
    <div class="vf-mobile__apps ws10-u--mt+">
    </div>
    <picture>
      <source
        class="vf-mobile__animation--img"
        srcset="{{mobile.mobile}}.webp"
        type="image/webp"
      />
      <source
        class="vf-mobile__animation--img"
        srcset="{{mobile.mobile}}.png"
        type="image/png"
      />
      <img
        class="vf-mobile__animation--img"
        src="{{mobile.mobile}}.png"
        alt="Algunas de las aplicaciones que podrás usar con tu móvil si tienes Vodafone One Ilimitada"
      />
    </picture>
  </div>
  <ul class="vf-mobile__details ws10-flex ws10-flex__wrap">
    {{#each mobile.productDetail}}
      {{> productDetail params=this}}
    {{/each}}
  </ul>
</section>