<div id="panel-1" role="tabpanel" class="ws10-o-tabs__panel">
    <div class="vf-rates">
        <div class="vf-rates__container ws10-o-layout ws10-flex__align-items--end">

            {{#each cardRates }}
                {{> cardRate this }}
            {{/each }}

            <!-- <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
                <!-- Vodafone One ilimitada- ->



                <div class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                    <div class="ws10-c-card-rate__w-rates">
                        <div class="ws10-c-card-rate__a-rate">
                            <ul class="ws10-c-card-rate__product-info"
                                data-vfes-seo-empathy-promoperiod="50% dto. 3 meses Permanencia 1 año"
                                data-vfes-seo-empathy-promoprice="{{ rates.fiber-mobile.fibra300.dtoPrice }}"
                                data-vfes-seo-empathy-price="{{ rates.fiber-mobile.fibra300.dtoFinalPrice }}" >
                <li class="ws10-c-card-rate__product-info-item">
                  <svg
                    class="ws10-c-card-rate__product-icon ws10-u-color--black"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <use xlink:href="#icon-mobile"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      {{ rates.fiber-mobile.fibra300.description.0.title }}
                    </p>
                    <p
                      class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                    >
                      {{ rates.fiber-mobile.fibra300.description.0.subtitle }}
                      <svg
                        class="ws10-c-card-rate__product-txt-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-thunder-2grey"></use>
                      </svg>
                    </p>
                  </div>
                </li>
                <li class="ws10-c-card-rate__product-info-item">
                  <svg
                    class="ws10-c-card-rate__product-icon ws10-u-color--black"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <use xlink:href="#icon-sim"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      {{ rates.fiber-mobile.fibra300.description.1.title }}
                    </p>
                    <p class="ws10-c-card-rate__product-txt">
                      {{ rates.fiber-mobile.fibra300.description.1.subtitle }}
                    </p>
                  </div>
                </li>
                <li
                  class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start"
                >
                  <div
                    class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center"
                  >
                    <svg
                      class="ws10-c-card-rate__product-icon ws10-u-color--black"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <use xlink:href="#icon-broadband-or-wifi"></use>
                    </svg>
                    <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          {{ rates.fiber-mobile.fibra300.description.2.title }}
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          {{ rates.fiber-mobile.fibra300.description.2.subtitle }}
                        </p>
                    </div>
                  </div>
                </li>
                <li class="ws10-c-card-rate__product-info-item">
                  <svg
                    class="ws10-c-card-rate__product-icon ws10-u-color--black"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <use xlink:href="#icon-tv"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      {{ rates.fiber-mobile.fibra300.description.3.title }}
                    </p>
                    <p class="ws10-c-card-rate__product-txt">
                      {{ rates.fiber-mobile.fibra300.description.3.subtitle }}
                    </p>
                  </div>
                </li>
              </ul>
              <div
                class="ws10-c-card-rate__w-cta vf-block"
                data-js-vf="_priceIlimitada"
              >
                <div class="ws10-c-card-rate__w-offers vf-block">
                  <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                      <strong>{{ rates.fiber-mobile.fibra300.offers.dtoPercent }}</strong>
                    </p>
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                      {{ rates.fiber-mobile.fibra300.offers.dtoLabel }}
                    </p>
                  </div>
                </div>
                <div
                  class="ws10-flex ws10-flex__justify--between ws10-flex__align-items--end"
                >
                  <p class="ws10-c-card-rate__price ws10-u-color--black">
                    {{ rates.fiber-mobile.fibra300.offers.dtoPrice }}€<sub>/mes</sub>
                  </p>
                  <a
                    href="{{ rates.fiber-mobile.fibra300.cta.url }}"
                    target="_self"
                    name="{{ rates.fiber-mobile.fibra300.cta.text }}"
                    title="{{ rates.fiber-mobile.fibra300.cta.text }}"
                    class="ws10-c-button ws10-c-button--auto vf-button--mobile"
                    data-analytics-category="{{ rates.fiber-mobile.fibra300.cta.category }}"
                    data-analytics-element="{{ rates.fiber-mobile.fibra300.cta.element }}"
                    data-analytics-context="{{ rates.fiber-mobile.fibra300.cta.context }}"
                    data-analytics-id="{{ rates.fiber-mobile.fibra300.cta.id }}"
                  >
                    {{ rates.fiber-mobile.fibra300.cta.text }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop"
      >
        <!-- Vodafone One ilimitada Maxi - ->
        <div
          class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
          data-ws10-js="card-rate"
        >
          <div class="ws10-c-card-rate__w-rates">
            <div class="ws10-c-card-rate__a-rate">
              <ul
                class="ws10-c-card-rate__product-info"
                data-vfes-seo-empathy-promoperiod="50% dto. 3 meses Permanencia 1 año"
                data-vfes-seo-empathy-promoprice="{{ rates.fiber-mobile.fibra600.dtoPrice }}"
                data-vfes-seo-empathy-price="{{ rates.fiber-mobile.fibra600.dtoFinalPrice }}"
              >
                <li class="ws10-c-card-rate__product-info-item">
                  <svg
                    class="ws10-c-card-rate__product-icon ws10-u-color--black"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <use xlink:href="#icon-mobile"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      {{ rates.fiber-mobile.fibra600.description.0.title }}
                    </p>
                    <p
                      class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                    >
                      {{ rates.fiber-mobile.fibra600.description.0.subtitle }}
                      <svg
                        class="ws10-c-card-rate__product-txt-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-thunder-2grey"></use>
                      </svg>
                    </p>
                  </div>
                </li>
                <li class="ws10-c-card-rate__product-info-item">
                  <svg
                    class="ws10-c-card-rate__product-icon ws10-u-color--black"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <use xlink:href="#icon-sim"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      {{ rates.fiber-mobile.fibra600.description.1.title }}
                    </p>
                    <p class="ws10-c-card-rate__product-txt">
                      {{ rates.fiber-mobile.fibra600.description.1.subtitle }}
                    </p>
                  </div>
                </li>
                <li
                  class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start"
                >
                  <div
                    class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center"
                  >
                    <svg
                      class="ws10-c-card-rate__product-icon ws10-u-color--black"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <use xlink:href="#icon-broadband-or-wifi"></use>
                    </svg>
                    <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          {{ rates.fiber-mobile.fibra600.description.2.title }}
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          {{ rates.fiber-mobile.fibra600.description.2.subtitle }}
                        </p>
                    </div>
                  </div>
                </li>
                <li class="ws10-c-card-rate__product-info-item">
                  <svg
                    class="ws10-c-card-rate__product-icon ws10-u-color--black"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <use xlink:href="#icon-tv"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      {{ rates.fiber-mobile.fibra600.description.3.title }}
                    </p>
                    <p class="ws10-c-card-rate__product-txt">
                      {{ rates.fiber-mobile.fibra600.description.3.subtitle }}
                    </p>
                  </div>
                </li>
              </ul>

              <div class="ws10-c-card-rate__w-cta vf-block ">
                <div class="ws10-c-card-rate__w-offers vf-block">
                  <div class="ws10-c-card-rate__offer" id="rate-2-offer-1">
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                      <strong>{{ rates.fiber-mobile.fibra600.offers.dtoPercent }}</strong>
                    </p>
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                        {{ rates.fiber-mobile.fibra600.offers.dtoLabel }}
                    </p>
                  </div>
                </div>
                <div
                  class="ws10-flex ws10-flex__justify--between ws10-flex__align-items--end"
                >
                  <p class="ws10-c-card-rate__price ws10-u-color--black">
                    {{ rates.fiber-mobile.fibra600.offers.dtoPrice }}€<sub>/mes</sub>
                  </p>
                  <a
                    href="{{ rates.fiber-mobile.fibra600.cta.url }}"
                    target="_self"
                    name="{{ rates.fiber-mobile.fibra600.cta.text }}"
                    title="{{ rates.fiber-mobile.fibra600.cta.text }}"
                    class="ws10-c-button ws10-c-button--auto vf-button--mobile"
                    data-analytics-category="{{ rates.fiber-mobile.fibra600.cta.category }}"
                    data-analytics-element="{{ rates.fiber-mobile.fibra600.cta.element }}"
                    data-analytics-context="{{ rates.fiber-mobile.fibra600.cta.context }}"
                    data-analytics-id="{{ rates.fiber-mobile.fibra600.cta.id }}"
                  >
                    {{ rates.fiber-mobile.fibra600.cta.text }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop"
      >
        <!-- Vodafone One ilimitada Total - ->
        <div
          class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow"
          data-ws10-js="card-rate"
        >
          <div class="ws10-c-card-rate__w-rates">
            <div class="ws10-c-card-rate__a-rate">
              <ul
                class="ws10-c-card-rate__product-info"
                data-vfes-seo-empathy-promoperiod="50% dto. 3 meses Permanencia 1 año"
                data-vfes-seo-empathy-promoprice="{{ rates.fiber-mobile.fibra600SerieFans.dtoPrice }}"
                data-vfes-seo-empathy-price="{{ rates.fiber-mobile.fibra600SerieFans.dtoFinalPrice }}"
              >
                <li class="ws10-c-card-rate__product-info-item">
                  <svg
                    class="ws10-c-card-rate__product-icon ws10-u-color--black"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <use xlink:href="#icon-mobile"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      {{ rates.fiber-mobile.fibra600SerieFans.description.0.title }}
                    </p>
                    <p
                      class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary"
                    >
                      {{ rates.fiber-mobile.fibra600SerieFans.description.0.subtitle }}
                      <svg
                        class="ws10-c-card-rate__product-txt-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <use xlink:href="#icon-thunder-3"></use>
                      </svg>
                    </p>
                  </div>
                </li>
                <li class="ws10-c-card-rate__product-info-item">
                  <svg
                    class="ws10-c-card-rate__product-icon ws10-u-color--black"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <use xlink:href="#icon-sim"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      {{ rates.fiber-mobile.fibra600SerieFans.description.1.title }}
                    </p>
                    <p class="ws10-c-card-rate__product-txt">
                      {{ rates.fiber-mobile.fibra600SerieFans.description.1.subtitle }}
                    </p>
                  </div>
                </li>
                <li
                  class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start"
                >
                  <div
                    class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center"
                  >
                    <svg
                      class="ws10-c-card-rate__product-icon ws10-u-color--black"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <use xlink:href="#icon-broadband-or-wifi"></use>
                    </svg>
                    <div class="ws10-c-card-rate__product">
                        <p class="ws10-c-card-rate__product-title">
                          {{ rates.fiber-mobile.fibra600SerieFans.description.2.title }}
                        </p>
                        <p class="ws10-c-card-rate__product-txt">
                          {{ rates.fiber-mobile.fibra600SerieFans.description.2.subtitle }}
                        </p>
                    </div>
                  </div>
                </li>
                <li class="ws10-c-card-rate__product-info-item">
                  <svg
                    class="ws10-c-card-rate__product-icon ws10-u-color--black"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <use xlink:href="#icon-tv"></use>
                  </svg>
                  <div class="ws10-c-card-rate__product">
                    <p class="ws10-c-card-rate__product-title">
                      {{ rates.fiber-mobile.fibra600SerieFans.description.3.title }}
                    </p>
                    <p class="ws10-c-card-rate__product-txt">
                      {{ rates.fiber-mobile.fibra600SerieFans.description.3.subtitle }}
                    </p>
                  </div>
                </li>
              </ul>

              <div class="ws10-c-card-rate__w-cta vf-block">
                <div class="ws10-c-card-rate__w-offers vf-block">
                  <div class="ws10-c-card-rate__offer" id="rate-1-offer-1">
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                      <strong>{{ rates.fiber-mobile.fibra600SerieFans.offers.dtoPercent }}</strong>
                    </p>
                    <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                      {{ rates.fiber-mobile.fibra600SerieFans.offers.dtoLabel }}
                    </p>
                  </div>
                </div>
                <div
                  class="ws10-flex ws10-flex__justify--between ws10-flex__align-items--end"
                >
                  <p class="ws10-c-card-rate__price ws10-u-color--black">
                    {{ rates.fiber-mobile.fibra600SerieFans.offers.dtoPrice }}€<sub>/mes</sub>
                  </p>
                  <a
                    href="{{ rates.fiber-mobile.fibra600SerieFans.cta.url }}"
                    target="_self"
                    name="{{ rates.fiber-mobile.fibra600SerieFans.cta.text }}"
                    title="{{ rates.fiber-mobile.fibra600SerieFans.cta.text }}"
                    class="ws10-c-button ws10-c-button--auto vf-button--mobile"
                    data-analytics-category="{{ rates.fiber-mobile.fibra600SerieFans.cta.category }}"
                    data-analytics-element="{{ rates.fiber-mobile.fibra600SerieFans.cta.element }}"
                    data-analytics-context="{{ rates.fiber-mobile.fibra600SerieFans.cta.context }}"
                    data-analytics-id="{{ rates.fiber-mobile.fibra600SerieFans.cta.id }}"
                  >
                    {{ rates.fiber-mobile.fibra600SerieFans.cta.text }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div> -->

        </div>
    </div>
</div>
