<section class="vf-mobile ws10-u--pt12x">
     <p
    class="ws10-u-heading--4 ws10-u--mb2x ws10-flex ws10-flex__direction--column"
  >
    <span>{{{sinSorpresas.section}}}</span>
    <span>{{{sinSorpresas.title}}}</span>
  </p>
  <p>{{{sinSorpresas.conditions}}}</p>
  <p data-js-vf="_portability">{{{sinSorpresas.permanency}}}</p>
  <p class="ws10-u--hidden" data-js-vf="_newNumber">{{{sinSorpresas.permanency2}}}</p>
  <p class="ws10-u--mb0">{{{sinSorpresas.question}}}</p>
  <p>{{{sinSorpresas.paquete}}}</p>
  <p class="ws10-flex ws10-flex__direction--column">
     {{{sinSorpresas.promociones}}}
  </p>
  <!----PRICE-TAB-->
<div class="ws10-c-price-bar-group ws10-u--mt4x ws10-u--mb4x">
    <div class="ws10-c-price-bar">
      <span
        class="ws10-c-price-bar__text ws10-u--mb4x"
        data-js-vf="_portability"
      >
          {{ sinSorpresas.bar.[0].bar1 }}</span>
      <span
        class="ws10-c-price-bar__text ws10-u--mb4x ws10-u--hidden"
        data-js-vf="_newNumber"
      >
          {{ sinSorpresas.bar.[1].bar1 }}</span>
      <span
        class="ws10-c-price-bar__hr ws10-c-price-bar__hr--start ws10-c-price-bar__hr--separator-end ws10-c-price-bar__hr--bg-turquoise"
      ></span>
      <div
        class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop"
        data-js-vf="_portability"
      >
        <span class="ws10-c-price__amount">  {{ sinSorpresas.bar.[0].price1 }}</span>
        <span class="ws10-c-price__currency">€</span>
        <sub class="ws10-c-price__recurrence">/mes</sub>
      </div>
      <div
        class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop ws10-u--hidden"
        data-js-vf="_newNumber"
      >
        <span class="ws10-c-price__amount">{{ sinSorpresas.bar.[1].price1 }}</span>
        <span class="ws10-c-price__currency">€</span>
        <sub class="ws10-c-price__recurrence">/mes</sub>
      </div>
    </div>
    <div class="ws10-c-price-bar" data-js-vf="_portability">
      <span class="ws10-c-price-bar__text ws10-u--mb4x">
        {{ sinSorpresas.bar.[0].bar2}}
      </span>
      <span
        class="ws10-c-price-bar__hr ws10-c-price-bar__hr--none ws10-c-price-bar__hr--separator-end ws10-c-price-bar__hr--bg-lemon-yellow"
      ></span>
      <div
        class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop"
      >
        <span class="ws10-c-price__amount">  {{ sinSorpresas.bar.[0].price2}}</span>
        <span class="ws10-c-price__currency">€</span>
        <sub class="ws10-c-price__recurrence">/mes</sub>
      </div>
    </div>
     <div class="ws10-c-price-bar ws10-u--hidden" data-js-vf="_newNumber">
      <span class="ws10-c-price-bar__text ws10-u--mb4x">
        {{ sinSorpresas.bar.[1].bar2}}
      </span>
      <span
        class="ws10-c-price-bar__hr ws10-c-price-bar__hr--none ws10-c-price-bar__hr--separator-end ws10-c-price-bar__hr--bg-lemon-yellow"
      ></span>
      <div
        class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop"
      >
        <span class="ws10-c-price__amount">  {{ sinSorpresas.bar.[1].price2}}</span>
        <span class="ws10-c-price__currency">€</span>
        <sub class="ws10-c-price__recurrence">/mes</sub>
      </div>
    </div>
    <div class="ws10-c-price-bar">
      <span
        class="ws10-c-price-bar__text ws10-u--mb4x"
        data-js-vf="_portability"
        >  {{ sinSorpresas.bar.[0].bar3}}</span>
      <span
        class="ws10-c-price-bar__text ws10-u--mb4x ws10-u--hidden"
        data-js-vf="_newNumber"
        >  {{ sinSorpresas.bar.[1].bar3}}</span>
      <span
        class="ws10-c-price-bar__hr ws10-c-price-bar__hr--none ws10-c-price-bar__hr--bg-black"
      ></span>
      <div
        data-js-vf="_portability"
        class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop"
      >
        <span class="ws10-c-price__amount">  {{ sinSorpresas.bar.[0].price3}}</span>
        <span class="ws10-c-price__currency">€</span>
        <sub class="ws10-c-price__recurrence">/mes</sub>
      </div>
      <div
        class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop ws10-u--hidden"
        data-js-vf="_newNumber"
      >
        <span class="ws10-c-price__amount">  {{ sinSorpresas.bar.[1].price3}}</span>
        <span class="ws10-c-price__currency">€</span>
        <sub class="ws10-c-price__recurrence">/mes</sub>
      </div>
    </div>
  </div>

  <p class='ws10-u--mb1x'>{{{sinSorpresas.instalacion}}}</p>
  <p data-js-vf="_portability">{{{sinSorpresas.benefits}}}</p>

  {{>cta sinSorpresas.cta}}
</section>
