<a href="{{ params.url }}"
    target="_self" name="{{ params.label }}" title="{{ params.label }}"
    class="ws10-c-button ws10-c-button--auto vf-button--mobile"
    data-analytics-context="{{ params.context }}"
    data-analytics-element="{{ params.element }}"
    data-analytics-category="{{ params.category }}"
    data-analytics-id="{{ params.id }}">
    {{ params.label }}
</a>
