<section
  class="vf-sticky ws10-c-card-rate-sticky ws10-u--hidden"
  data-js-vf="_stickyRate"
>
  <div>
    <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">
      <div class="ws10-c-card-rate-sticky__w-cta" data-js-vf="_portability">
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">54,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >28,49€</span>
            <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
          </span>
        </div>
        <a
          data-cta="300:port:card"
          type="submit"
          class="ws10-c-button ws10-c-button--auto"
          href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id={{ticket.offers.portability.cta.url}}&tcli=0&tta=2"
          onmousedown="addtocart(utag_data.plans_add2cart[0])"
          data-analytics-element="{{ticket.offers.portability.cta.element}}"
          data-analytics-context="{{ticket.offers.portability.cta.content}}"
          data-analytics-category="{{ticket.offers.portability.cta.category}}"
          data-analytics-id="{{ticket.offers.portability.cta.id}}"
        >
          {{ticket.offers.portability.cta.label}}
          <span class="ws10-u--hidden-visually" data-cta-a11y></span>
        </a>
      </div>
      <div
        class="ws10-c-card-rate-sticky__w-cta ws10-u--hidden"
        data-js-vf="_newNumber"
      >
        <div
          class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column"
        >
          <del class="ws10-c-card-rate-sticky__dto-price">54,99€/mes</del>
          <span class="ws10-c-card-rate-sticky__final-price">
            <span
              class="ws10-c-card-rate-sticky__final-price-value"
            >28,49€</span>
            <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
          </span>
        </div>
        <a
          data-cta="300:port:card"
          type="submit"
          class="ws10-c-button ws10-c-button--auto"
          href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id={{ticket.offers.newNumber.cta.url}}&tcli=0&tta=2"
          onmousedown="addtocart(utag_data.plans_add2cart[1])"
          data-analytics-element="{{ticket.offers.newNumber.cta.element}}"
          data-analytics-context="{{ticket.offers.newNumber.cta.content}}"
          data-analytics-category="{{ticket.offers.newNumber.cta.category}}"
          data-analytics-id="{{ticket.offers.newNumber.cta.id}}"
        >
          {{ticket.offers.newNumber.cta.label}}
          <span class="ws10-u--hidden-visually" data-cta-a11y></span>
        </a>
      </div>
    </div>
  </div>
</section>