<section class="vf-mobile ws10-u--pt12x">
  <p
    class="ws10-u-heading--4 ws10-u--mb2x ws10-flex ws10-flex__direction--column"
  >
    <span><strong>Sin sorpresas.</strong></span>
    <span><strong>No escondemos nada</strong></span>
  </p>
  <p>Impuestos y cuota de línea incluidos.</p>
  <p><strong>{{ permanencia }}</strong></p>
  <p>¿Cuánto voy a pagar?</p>
  <p><strong>{{ fibra-movil }} (61,49€/mes) + decodificador (3€/mes): {{ price.[0].precio_conpromo }}€/mes durante 1 año, después {{ price.[0].precio_sinpromo }}€/mes.</strong></p>
  <p class="ws10-flex ws10-flex__direction--column">
    <span>Promociones:</span>
    <span data-js-vf="_portability">Línea adicional: GRATIS durante 1 año,
      después con un 50% dto. por solo 17,50€/mes (dto. ya aplicado).</span>
    <span>Paquete de TV: GRATIS</span>
  </p>

  <!----PRICE-TAB-->







  <!------------->
  <p class="ws10-u--mb1x">La instalación del servicio de fibra, salvo que sea
    autoinstalable, tiene un coste para el cliente de 150€.</p>
  <p>Vodafone renuncia al cobro de este coste si el cliente se mantiene activo
    en el servicio durante, al menos, 1 año desde la fecha de instalación.</p>

  <a
    class="ws10-c-link-chevron ws10-c-link-chevron--primary"
    target="_blank"
    href={{ cta.condicioneslegales }}
    data-analytics-element="card addons"
    data-analytics-context="condiciones legales"
    data-analytics-category="cta"
    data-analytics-id="-5460257368589"
  >
    Ver condiciones legales
    <span class="ws10-u--hidden-visually"> color #E60000</span>
    <svg
      class="ws10-c-link-chevron__icon"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="24px"
      height="24px"
    >
      <title>Flecha derecha</title>
      <use class="icon-v3" xlink:href="#icon-chevron-right"></use>
    </svg>
  </a>
</section>