<section class="vf-mobile ws10-u--pt12x">
    <p class="ws10-u-heading--4 ws10-u--mb2x ws10-flex ws10-flex__direction--column">
        <span><strong>{{ noSurprises.title.[0] }}</strong></span>
        <span><strong>{{ noSurprises.title.[1] }}</strong></span>
    </p>
    <p>{{ noSurprises.paragraphs.[0] }}</p>
    <p><strong>{{ noSurprises.paragraphs.[1] }}</strong></p>
    <p>{{ noSurprises.paragraphs.[2] }}</p>
    <p><strong>{{ noSurprises.paragraphs.[3] }}<span>{{ noSurprises.paragraphs.[4] }}</span></strong>
    </p>
    <p class="ws10-flex ws10-flex__direction--column">
        <span>{{ noSurprises.otherPromotions.[0] }}</span>
        <span>{{ noSurprises.otherPromotions.[1] }}</span>
        <span data-js-vf="_portability">{{ noSurprises.otherPromotions.[2] }}</span>
        <span>{{ noSurprises.otherPromotions.[3] }}</span>
    </p>

    <!----PRICE-TAB-->
    <div class="ws10-c-price-bar-group ws10-u--mt4x ws10-u--mb4x">
        <div class="ws10-c-price-bar">
            <span class="ws10-c-price-bar__text  ws10-u--mb4x">
                {{ noSurprises.priceTab.[0].[0] }}
            </span>
            <span
                class="ws10-c-price-bar__hr ws10-c-price-bar__hr--start ws10-c-price-bar__hr--separator-end ws10-c-price-bar__hr--bg-aqua-blue"></span>
            <div
                class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop">
                <span class="ws10-c-price__amount">{{ noSurprises.priceTab.[0].[1] }}</span>
                <span class="ws10-c-price__currency">{{ noSurprises.priceTab.[0].[2] }}</span>
                <sub class="ws10-c-price__recurrence">{{ noSurprises.priceTab.[0].[3] }}</sub>
            </div>
        </div>
        <div class="ws10-c-price-bar">
            <span class="ws10-c-price-bar__text ws10-u--mb4x">{{ noSurprises.priceTab.[1].[0] }}</span>
            <span
                class="ws10-c-price-bar__hr ws10-c-price-bar__hr--none ws10-c-price-bar__hr--bg-lemon-yellow"></span>
            <div
                class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop">
                <span class="ws10-c-price__amount">{{ noSurprises.priceTab.[1].[1] }}</span>
                <span class="ws10-c-price__currency">{{ noSurprises.priceTab.[1].[2] }}</span>
                <sub class="ws10-c-price__recurrence">{{ noSurprises.priceTab.[1].[3] }}</sub>
            </div>
        </div>
        <div class="ws10-c-price-bar">
            <span class="ws10-c-price-bar__text ws10-u--mb4x">
                {{ noSurprises.priceTab.[2].[0] }}
            </span>
            <span
                class="ws10-c-price-bar__hr ws10-c-price-bar__hr--end ws10-c-price-bar__hr--separator-start ws10-c-price-bar__hr--bg-dark-grey"></span>
            <div
                class="ws10-c-price ws10-c-price--x-small ws10-c-price--default@tablet ws10-c-price--default@desktop">
                <div data-js-vf="_portability">
                    <span class="ws10-c-price__amount">{{ noSurprises.priceTab.[2].[1] }}</span>
                </div>
                <div class="ws10-u--hidden" data-js-vf="_newNumber">
                    <span class="ws10-c-price__amount">{{ noSurprises.priceTab.[2].[2] }}</span>
                </div>
                <span class="ws10-c-price__currency">{{ noSurprises.priceTab.[2].[3] }}</span>
                <sub class="ws10-c-price__recurrence">{{ noSurprises.priceTab.[2].[4] }}</sub>
            </div>
        </div>
    </div>

    <!------------->
    <p class="ws10-u--mb1x">La instalación del servicio de fibra, salvo que sea autoinstalable, tiene un
        coste para el
        cliente de 150€.</p>
    <p>Vodafone renuncia al cobro de este coste si el cliente se mantiene activo en el
        servicio durante, al menos, 1 año desde la fecha de instalación.</p>
    <p>⚠️	El precio indicado en esta oferta incrementará +3€/mes en la línea móvil principal y +1,5€/mes en las líneas adicionales a partir del próximo 15/7</p>


    <a class="ws10-c-link-chevron ws10-c-link-chevron--primary" target="_blank"
        href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/legales/"
        data-analytics-element="modulo inferior" data-analytics-context="condiciones legales"
        data-analytics-category="cta" data-analytics-id="-5460257368589">
        Ver condiciones legales <span class="ws10-u--hidden-visually"> color #E60000</span>
        <svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
            xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
            <title>Flecha derecha</title>
            <use class="icon-v3" xlink:href='#icon-chevron-right'></use>
        </svg>
    </a>



</section>
